$white: #ffffff;
$dark: #000000;
$primary: #07a0b8;
$primary-50: #f0f8fa;
$grey-1: #eaeaea;
$grey-2: #f7f7f7;
$grey-3: #e8e8e8;
$text-1: #999999;
$primary-100: #e6f6f9;
$primary-200: #96dde9;
$primary-400: #07a0b8;
$neutral-800: #222222;
$neutral-600: #3c3c3c;
$neutral-400: #999999;
$neutral-200: #d7d7d7;
$neutral-100: #E8E8E8;
$neutral-50: #f7f7f7;
$neutral-0: #ffffff;
$red-1: #f54e4e;
$red-500: #f54e4e;
$blue-500: #2f6bff;
$line: #e8e8e8;